<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>API_KEY</key>
	<string>AIzaSyDg2_894upBRq-xWaTJrHNypCL0G1kIFGM</string>
	<key>GCM_SENDER_ID</key>
	<string>175597197245</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>com.example.chatappv1</string>
	<key>PROJECT_ID</key>
	<string>chatappudemy-2d357</string>
	<key>STORAGE_BUCKET</key>
	<string>chatappudemy-2d357.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:175597197245:ios:30adcca91654831693a4d4</string>
</dict>
</plist>